# Blacklist files/folders in root directory
/*

# Whitelist files in the root directory
!.gitignore
!.zshrc
!.zsh_aliases
!.tmux.conf
!.i3status.conf
!.Xmodmap
!.inputrc
!.profile

# Whitelist subfolders/files
!.i3/
.i3/*
!.i3/config

!.config/
.config/*
!.config/picom.conf

!.config/i3/
.config/i3/*
!.config/i3/status.toml

!.mitmproxy/
.mitmproxy/*
!.mitmproxy/config.yaml

!.doom.d
